.headclass{
    display: grid;
    grid-template-rows: auto;
    text-align: center;

    
}

.divclass{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;

}
h1{
    background-color: #DDAEAE;
    max-width: 400px;
}

h2{
    background-color: #DDAEAE;
    max-width: 99px;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    padding-left:
}

body{
    display: grid;
    grid-template-columns:auto;

   background-color: #BF8F6C;
}


.NavClass{
    display: grid;
    max-height: 80%;
    max-width: 20%;
    background-color: #DDAEAE;
}

.ListClass{
    font-size: 20px;
}

main{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}