.headclass{

    
}

.divclass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

h1{
    background-color: #DDAEAE;
    max-width: 400px;
}

h2{
    background-color: #DDAEAE;
    max-width: 99px;
    max-height: 30px;
}

body{
    
    
    grid-template-columns:auto;

   background-color: #BF8F6C;
}


.NavClass{
    border: solid black 3px;
    height: px;
    max-width: 50%;
    margin-left: 20px;
    grid-template-rows: 2/4;
    background-color: #DDAEAE;
}

.ListClass{
    font-size: 20px;
}

main{
    grid-row: 2;
    grid-column: 2;
}



.pictureClass{
    max-height: 150px;
    width: 300px
}


.stepListClass{
    background-color: #DDAEAE;
    max-width: 50%;
}